body{
    background-color: rgb(42, 97, 200);
    font: normal 15pt verdana;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    width: 500px;

    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.378);
}

footer{
    color: white;
    text-align: center;
    margin: 30px;
}

#res{
    border: 1px solid black;
    width: 80%;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px
}

#btn{
    font-size: 13pt;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.3s;
}

#btn:hover{
    background-color: rgb(157, 255, 157);
    transition: 0.3s;
}

input{
    margin-bottom: 10px;
}